.feature-section {
  @include mq(desktop) {
    padding-bottom: 0px;
  }
}

.feature {
  display: block;

  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    display: flex;
  }
}

.feature__items {
  margin-left: auto;
  margin-right: auto;
  @include mq(mobile-only) {
    // width: 450px;
    // height: 226px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @include mq(tablet-only) {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    margin-right: 30px;
  }
}
.feature__items:nth-last-child(-n + 2) {
  @include mq(tablet-only) {
    margin-bottom: 0px;
  }
}
.feature__items:nth-child(2n) {
  @include mq(tablet-only) {
    margin-right: 0px;
  }
}
.feature__items :last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

.feature__items-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  // width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--filter-button-color);
}

.feature__items-icon :last-child {
  margin-right: 0px;
}

.feature-heading {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1428;
  color: var(--item-detail-item-color);
  margin-bottom: 10px;

  @include mq(mobile-only) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.feature-heading__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7142;
  color: var(--text-element-color);
}
