
.header {
  border-bottom: 1px solid var(--border-grey);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: block;
  margin-right: 93px;
}
.web {
  font-size: 26px;
  font-family: Raleway;
  color: var(--liting-color);

  line-height: 1.1738;
}
.studio {
  font-family: Raleway;
  color: var(--item-detail-item-color);
  font-size: 26px;
  line-height: 1.1738;
}

.header-nav-group {
    display: flex;
    color: var(--item-detail-item-color);
    font-size: 14px;
    line-height: 1.1428;
    padding: 0px;
  }
  .header-nav-item {
    margin-right: 50px;
  }
  .header-nav-item:last-child {
    margin-right: 0px;
  }

.header-nav {
    color: var(--item-detail-item-color);
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    padding: 32px 0;
    display: inline-block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav:focus,
  .header-nav:hover
  {
    color: var(--liting-color);
  }

.header-nav::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    background: var(--liting-color);
    border-radius: 2px;
    bottom: 0;
    width: 100%;
    opacity: 0;
   }
   .curent.header-nav::after {
     opacity: 1;
   }
   
   .header-contact-container {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: auto;
   }


.header-contacts {
    color: var(--text-element-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1721;
    align-items: center;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-feadback-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts-item:first-child {
    margin-right: 50px;
  }
  
  .header-contacts-item:hover .header-feadback-icon {
    fill: var(--liting-color);
  }
  .header-contacts:hover,
  .header-contacts:active,
  .header-contacts:focus {
    color: var(--liting-color);
  }
  
  .curent {
    color: var(--liting-color);
    
   
  }
  .header-feadback-icon {
    margin-right: 10px;
  }