.regular-clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.regular-client-item {
}
.regular-client-item:not(:last-child) {
  margin-right: 30px;
}
.regular-client-link:hover,
.regular-client-link:focus {
  fill: var(--liting-color);
  border: 1px solid  var(--liting-color);
}

.regular-client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--grey-liting);
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  fill: var(--grey-liting);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}