:root {
    /* bgl */
    --text-element-color: #757575;
    --body-background-color: #fff;
    --item-detail-item-color: #212121;
    /* text color */
    --filter-button-color: #f5f4fa;
    --liting-color: #2196f3;
    --background-color-second: #2f303a;
    --grey-liting: #afb1b8;
    --border-grey: #ececec;
  }